/* Main */

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 1.6em;
    background: #f5f7fa;
    color: #606c76;
    letter-spacing: .01em;
    line-height: 1.6;
}

html {
    box-sizing: border-box;
    font-size: 62.5%
}

.header {
    text-align: center;
    padding: 0.6em 0;
}

.header_icon {
    width: 10%;
}

.container {
    margin: 0 auto;
    max-width: 112.0rem;
    padding: 0 2.0rem;
    position: relative;
}

.content {
    padding: 2rem;
    background: #ffffff;
    border-radius: 0.4rem;
    /* Thanks Stripe */
    box-shadow: 0 7px 14px 0 rgba(60, 66, 87, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.07);
}

h3 {
    font-family: "Raleway", sans-serif;
    position: relative;
    padding-left: 4.0em;
    padding-top: 0.4em;
    color: #606c76;
    margin-top: 0;
    margin-bottom: 1.0rem;
    font-weight: bold;
}

h3:before {
    font-family: "Font Awesome 5 Free";
    content: "\f274";
    font-weight: 900;
    position: absolute;
    font-size: 2em;
    left: 0.4em;
    top: 0.6em;
    color: #606c76;
}

.description a{
    font-weight: 900;
    text-decoration: none;
    transition: color 0.3s;
}

.description a:hover{
    color : #ff7043;
}

.description a:active{
    color : #26a69a;
}

/* マーカーアニメーション */
.marker-animation.active {
    background-position: -100% .5em;
}

.marker-animation {
    background-image: -webkit-linear-gradient(left, transparent 50%, #b3e5fc 40%);
    background-repeat: repeat-x;
    background-size: 200% .8em;
    background-position: 0 .5em;
    transition: all 2s ease;
}

/* PCで見たときは非表示にする */
.sp { display: none;}
/* スマホで見たときは非表示にする */
.pc { display: block; }

@media screen and (max-width: 640px) {
    .header_icon {
        width: 20%;
    }
    .sp {
        display: block;
        width: 100%;
    }
    .pc {
        display: none;
    }
}
